@layer components {
  .gradient-text {
    color: transparent;
    background-image: linear-gradient(
      to right,
      silver,
      purple,
      yellow,
      skyblue,
      #257180
    );
    -webkit-background-clip: text;
    animation: animate 10s linear infinite;
    background-size: 1000%;
  }
}
