/* common css */
/* rgba(0, 255, 135, 1) */
@theme {
  /* color */
  --color-black: #000000;
  --color-white: #ffffff;
  --color-red: #ff6363;
  --color-dark: #1b2430;
  --color-primary: #ecdbba;

  /* font family */
  --font-primary: "Winky Sans", sans-serif;
}

@layer components {
  html {
    scroll-behavior: smooth;
    overflow-x: hidden;
    overflow-y: scroll;
  }
}
