/* common css */
/* rgba(0, 255, 135, 1) */
@theme {
  /* color */
  --color-black: #1A1A1D;
  --color-red: #ff0000;
  --color-white: #fff;
  --color-dark: #001C30;
  --color-primary: #00ff87;
  --color-secondary: #0284c7;
  --color-test:#205781;
  /* font family */
  --font-primary:   "Winky Sans", sans-serif;
}

@layer components {
  html {
    scroll-behavior: smooth;
    /* overflow-x: hidden; */
    overflow-y: scroll;
  }
}
