/* common css */

@theme {
  /* color */
  --color-black: #181823;
  --color-white: #fff;
  --color-dark: #264e70;
  --color-primary: #ffebd3;
  --color-secondary: #0284c7;
  /* font family */
  --font-primary: "Playwrite IT Moderna", cursive;

}

@layer components {
  html {
    scroll-behavior: smooth;
    overflow-x: hidden;
    overflow-y: scroll;
  }
}
